h1{
    text-align: center;
}

#numberOutputBox{ 
    display: flex;  /* defaults to row layout */
 	justify-content: center;  /* centers items horizontally in row layout */
    align-items: center;  
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 40px;
}

#userInputBox{
    display: flex;  /* defaults to row layout */
 	justify-content: center;  /* centers items horizontally in row layout */
    align-items: center;  
}

#addBox{
    width: 150px;
    height: 20px;
    display: flex;  /* defaults to row layout */
 	justify-content: center;  /* centers items horizontally in row layout */
 	align-items: center; 
    
}

#numberInputBox{
    text-align: center; 
    margin: 0 auto;
    width: 150px;
    height: 20px;
    border: 1px solid red;
}


#minusBox{
    width: 150px;
    height: 20px; 
    display: flex;  /* defaults to row layout */
 	justify-content: center;  /* centers items horizontally in row layout */
 	align-items: center; 
}

#minusBtn{
    width: 100px;
    height: 100px;
    font-size: 40px;
}
#minusBtn:hover {
    color: silver;
    background-color: white;
}


#addBtn{
    width: 100px;
    height: 100px;
    font-size: 40px;
}

#addBtn:hover {
    color: silver;
    background-color: white;
}
